@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400;500;600&display=swap");
*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(8, 10, 10);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



 

 

 


 

 